.content-wrapper{
    width:700px;
    margin:150px auto;
}
@media (max-width:767px){
    .content-wrapper{
        width:300px;
        margin: 150px auto;
        padding:20px;

    }
    .reset-image{
        display: none;
    }
    .reset-password-card .reset-form{
        margin:0;
        width:100%;
    }
}